@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(100deg, #03ffb3b9 0%, #0097ff 100%);
}

input:focus {
  outline: none;
}

.center {
  max-width: 900px;
  min-height: 70vh;
  margin: 8rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.banner {
  width: 50%;
  background-image: url(../assets/password.jpg);
  background-size: cover;
  background-position: center;
}

.banner-content {
  background-color: rgba(62, 42, 190, 0.7);
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content h1 {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  color: white;
}

.banner-content p {
  margin-top: 12px;
  display: flex;
  color: greenyellow;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}

.create-password {
  background-color: #f1eeee;
  padding: 2.2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.create-password h3 {
  color: #5d27f1;
  margin-top: 10px;
}

.create-password h4 {
  font-size: 1.2rem;
  color: #0097ff;
  text-align: center;
  margin-bottom: 1rem;
}

.generate-options {
  margin-bottom: 1.2rem;
  padding: 1rem;
  border: 2px solid #0097ff;
  border-radius: 1rem;
}

.generate-options p {
  text-align: center;
  margin-bottom: 1.6rem;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}

.generate-options .form-control {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.generate-options label {
  font-size: 0.8rem;
}

.generate-options input[type="text"] {
  max-width: 30px;
  text-align: center;
  border: 1px solid #ccc;
}

.generate-options button {
  background-color: #0097ff;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  opacity: 0.8;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  max-width: 149px;
  cursor: pointer;
  align-self: center;
  transition: 0.4s;
}

.generate-options button:hover {
  color: #5d27f1;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #dad6d6;
  padding: 0.6rem 0;
}

.copy-password {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.generated-password {
  border: 2px solid #0099ff;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  display: none;
}

.generated-password p {
  margin-top: 5px;
}

.copy-password {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0097ff;
  color: white;
  opacity: 0.8;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  cursor: pointer;
  align-self: center;
  transition: 0.4s;
}

.copy-password:hover {
  color: #5d27f1;
}
